@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Oswald:wght@500&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}

* {
	text-decoration: none;
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	outline: none;
	border: none;
}

a,
i {
	cursor: pointer;
}

.header-block {
	width: 100%;
	height: 65px;
	display: flex;
	flex-direction: column;
}
.container {
	width: 100%;
	margin: 0 auto;
}
.header__inner {
	height: 90px;
}

.header-nav-list a {
	color: #060606;
	font-weight: 500;
	transition: 0.2s linear;
}

.header-nav-list a:hover {
	opacity: 0.8;
}

body.opened {
	overflow: hidden !important;
}
.mobile-menu {
	display: none;
}

.open .mobile-menu {
	display: block;
	overflow: scroll;
}

.lang-nav a:first-child {
	color: red;
}

.lang-nav a {
	transition: 0.2s linear;
	padding-bottom: 4px;
	border-bottom: 2px solid #fff;
}
.lang-nav a:hover {
	color: red;
	border-color: goldenrod;
}

.mobile-nav a {
	transition: 0.1s linear;
	padding-bottom: 4px;
	border-bottom: 2px solid #fff;
	display: flex;
	margin: 0 auto;
}

.mobile-nav a:hover {
	font-weight: 600;
	border-bottom: 2px solid goldenrod;
}

main {
	background: url('../img/Sparkle_video.png') no-repeat;
	background-position: center;
	background-size: cover;
}

.intro a {
	transition: 0.2s linear;
}

.intro a img {
	width: 100px;
	background: #fff;
	border-radius: 100px;
}

.gallery__inner {
	grid-template-columns: 30% 30% 15%;
}

.gallery__inner img {
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	object-position: top;
	background: bisque;
}

.h-22 {
	height: 5.5rem;
}

.link-item a {
	margin: 0 auto;
}

.input-width {
	width: 36.75rem;
}

form {
	width: 36.75rem !important;
	margin: 0 auto;
}

.form-links {
	height: auto !important;
}

.form-end a {
	margin: 0 auto !important;
}

.sponsors {
	background-color: #ffcb66;
}

.socials {
	margin-left: auto;
}

.footer__inner ul {
	margin: 0 10px;
}
/* 
fa-facebook-f
fa-instagram */
i {
	transition: 0.2s linear;
}

.fa-facebook-f:hover {
	color: blue;
}

.fa-instagram:hover {
	color: orangered;
}
footer a {
	transition: 0.2s linear;
}

footer a:hover {
	opacity: 0.8;
}

footer {
	background-color: #2f4858;
}

@media screen and (max-width: 1280px) {
	.links {
		margin: 0 !important;
	}
}

@media screen and (max-width: 1030px) {
	.footer__inner ul {
		margin: 0 !important;
	}
	.rekviziti {
		display: block;
	}
	.gallery__inner {
		grid-template-columns: 50% 50%;
		grid-auto-flow: row !important;
	}
	.gallery__inner img .h-36 {
		order: -1;
	}

	.gallery__inner img .h-36:last-child {
		order: 1;
	}
	.links__inner {
		row-gap: 100px;
		justify-content: center;
	}
	.swedbank,
	.links {
		display: none !important;
	}
	.header-nav-list {
		display: none !important;
	}
	.header__inner {
		justify-content: space-between !important;
		margin: 0 10px;
	}
	.fa-solid.fa-bars {
		display: block !important;
	}
}

@media screen and (max-width: 610px) {
	.big-text {
		font-size: 12px !important;
	}
	.media-order-1 {
		order: 1;
	}
	.gallery__inner img {
		object-position: center;
	}
	.union-img {
		bottom: -1rem !important;
	}
	.union-img-2 {
		top: -1rem !important;
	}
	.union-img-3 {
		top: -1rem !important;
	}
	.form-up {
		flex-direction: column;
	}
	.input-width {
		width: 288px;
	}

	form {
		width: auto !important;
	}

	.text-width:first-child {
		padding-bottom: 15px;
	}

	.text-width {
		text-align: center;
		margin: 0 auto;
		padding-bottom: 10px;
	}
	.checkbox-width {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin: 0 auto;
	}
}

@media screen and (max-width: 543px) {
	.sponsors-images img {
		width: 130px;
	}
	.sponsors-images {
		row-gap: 25px;
	}
	.img-adaptive {
		height: 60px;
		width: 50px !important;
	}
	.media-order-1 {
		font-size: 10px;
	}
	.info {
		padding-top: 20px;
	}
	.info .socials {
		margin-left: 0;
	}
	.info p,
	.info a {
		text-align: left !important;
	}
}

@media screen and (max-width: 320px) {
	.input-width {
		width: 190px !important;
		font-size: 12px;
	}
	.info a {
		font-size: 12px;
	}
	.order-1 p {
		padding-top: 20px;
	}
	.info a {
		word-break: break-word;
	}
}

.mobile-menu.open {
	display: block;
}
